@font-face {
    font-family: "Mj_Dinar";
    src: url("fonts/Mj_Dinar One Light.ttf");
}

body {
    font-family: Mj_Dinar, sans-serif;
    background-color: #f6f4f1;
}

#logo {
    width: 40px;
}

#logo2 {
    width: 300px;
}

#banner-text {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0.5em;
}

.nav-item {
    font-size: 1.1em;
}

#section-1 {
    height: 900px;
    background-image: url("img/supermarket.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-2 {
    height: 400px;
    background-color: #f6f4f1;
}


#section-3 {
    height: 400px;
    background-image: url("img/bg-sec-1-fridge.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-4 {
    background-color: #f6f4f1;
}

#section-5 {
    background-color: #f6f4f1;
}

.overlay-row-dark {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -9px #000;

    /* the rest of your styling */
}

.no-border {
    border: none;
}

.no-border-radius {
    border-radius: 0;
}

.bg-white {
    background-color: white;
}

.card-header-font {
    font-size: 1.5em;
}

#section-2 .card {
    min-height: 300px;
    margin-top: -65px;
}

#section-2 .col-md-4 {
    padding: 0;
}

#apple {
    height: 100px;
}

#android {
    height: 100px;
}

.download-box {
    padding-top: 125px;
}

#section-5 {
    min-height: 350px;
}

#section-5 .filler {
    min-height: 100px;
}

#section-5 .slide{
    min-height: 150px;
}

#section-6 {
    min-height: 400px;
}

#section-6 .img {
    min-height: 700px;
    background-image: url("img/people-eating-junk-food.jpg");
    background-size: cover;
    padding: 0;
}

#section-7 {
    min-height: 400px;
}

#section-7 .img {
    min-height: 700px;
    background-image: url("img/contact-pic.jpg");
    background-size: cover;
    padding: 0;
}

#section-7 form {
    width: 75%;
    direction:RTL;
}

#section-7 form textarea {
    resize: none;
    height: 200px;
}

.social {
    margin: 0 10px;
    color: white;
    font-size: 2.5em;
}

.social:hover {
    color: darkturquoise;
}


@media (max-width: 768px) {
    #section-2 .card {
        margin-top: 0px;
    }

    #section-2 {
        height: auto;
        background: white;
    }
}

.overlay-row-dark-2 {
    background-color: rgba(0, 0, 0, 0.58);
    min-height: 700px;
}

.carousel-item {
    width: 600px;
    margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
}

#privacy {
    min-height: 100%;
    margin-top: 100px;
}


@media (max-width: 768px) {
    .carousel-item {
        width: 300px;
    }
}

@media (max-width: 1050px) and (min-width: 920px){
    .nav-link {
        font-size: 0.8em;
    }
}

@media (max-width: 920px) and (min-width: 768px){
    .nav-link {
        font-size: 0.7em;
    }
}