@font-face {
    font-family: "Mj_Dinar";
    src: url("fonts/Mj_Dinar One Light.ttf");
}

body {
    font-family: Mj_Dinar, sans-serif;
}
    
#logo {
    width: 40px;
}

.nav-item {
    font-size: 1.1em;
}

#section-1 {
    height: 850px;
    background-image: url("img/bg-sec-1-cartoon.jpg");
    background-size: cover;
    background-position: center;
}